{% extends 'person/adminlte_base.html' %}<!-- EKSTENDER TIL EN ANDEN SIDE -->
{% load crispy_forms_tags %}
<p> {{user}} </p>
{% block title %}List af emner{% endblock %}
{% block main %}Welcomme {{user}}
<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Discription</th>
                      <th>Image</th>
                        <th>Created</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
{% endblock %}