{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <post class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> <!-- den vil vise billed af den user
                    som har oploadet under hver post i home page.-->
              <div class="media-body">
                <div class="article-metadata">

                  <a class="mr-2" href="{% url 'blog:user-posts' post.author.username %}">
                      {{ post.author.username }} </a>
                  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                  <p class="article-content">{{ post.content }}</p>
                <h10><a class="text-muted"  href="{% url 'blog:post-detail' post.id %}" > Se mere </a></h10>

              </div>
        </post>
    {% endfor %}
{% endblock content %}