{% extends "blog/base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }
        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% if request.user.is_authenticated %}
                    <div class="card">
                        <div class="card-header">
                            Menu
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                            </li>
                            <a href="{% url 'blog:photo-new' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>
                            <a href="{% url 'person:logout' %}" class="btn btn-dark btn-block btn-sm m-1">Logout</a>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            {% if "mp4" in photo.image.url %}
                                <video class="embed-responsive embed-responsive-16by9" controls="controls" >
                                        <source src="{{photo.image.url}}" />
                                </video>
                            {% else  %}
                                <img class="image-thumbail" src="{{photo.image.url}}">
                            {% endif %}
                                <div class="card-body">
                                    <small>Beskrivelse: {{photo.description}}</small>
                                </div>
                            {% if photo.post.author == user %} <!-- man kan access user hver html side -->
                                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:photo-update' photo.id %}">Ændrer media</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                   </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}