{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'blog:user-posts' object.author.username %}">{{ object.author }}</a> <!--i detail page bruger bi object og ikke post-->
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            </div>
            <div class="mr-2" ><p class="article-content">{{ post.content|safe }}</p></div>
          </div>
        </article>
{% endblock content %}