{% extends "blog/base.html" %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}


        <div class="row justify-content">
          <div class="col-12"><h1>{{post.title}}</h1></div>
            </div>
                 <div class="mr-2" ><p class="article-content">{{ post.content|safe }}</p></div>
                    <div>
                         {% if post.author == user %} <!-- man kan access user hver html side -->
                         <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:post-update' post.id %}">Ændrer post</a>
                         <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:post-delete' post.id %}">Delete post </a>
                         {% endif %}
                     <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:comment-new' post.id %}">Tilføj Kommentar</a>
                     <h10><a class="text-muted"  href="{% url 'blog:post-comments' post.id %}" > Se kommentarer </a></h10>
                    </div>
            <div>
        </div>
{% endblock %}