{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> <!-- profile billede-->
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
        <form method="POST" enctype="multipart/form-data">  <!-- Denne "enctype" gøre at billede i backgrand vil gemmes -->
            {% csrf_token %}  <!-- sikre hejmmesiden -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Profile info </legend>
               <!--   vil hente formen som a paragraf tekst men efter at bruge cripsy, har vi ikke bruge for .as_ p form.as_p-->
                {{ u_form|crispy}} <!-- bruge vertical bar charcter for at bruge a filter crispy forms tags -->
                {{ p_form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>

    </div>
{% endblock content %}